[submodule "external/rapidjson/rapidjson"]
	path = external/rapidjson/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "external/stb/stb"]
	path = external/stb/stb
	url = https://github.com/nothings/stb.git
[submodule "external/glslang/glslang"]
	path = external/glslang/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "external/SPIRV-Cross/SPIRV-Cross"]
	path = external/SPIRV-Cross/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
